
[Unit]
Description=Flask App
After=network.target postgresql.service

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/flask-app
ExecStart=/usr/bin/python3 /home/ec2-user/flask-app/app.py
Environment="DB_HOST=localhost"
Environment="DB_NAME={{ db_name }}"
Environment="DB_USER={{ db_user }}"
Environment="DB_PASS={{ db_password }}"
Restart=always

[Install]
WantedBy=multi-user.target

